        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>


        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>

        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>

        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>

        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>

        <section class="card">
                <%= image_tag("/neko.jpg",class:"card-img-top") %>
                <div class="card-content">
                  <h1 class="card-title">Webクリエイターボックス</h1>
                  <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
                </div>
                <div class="card-link">
                  <a href="#">About</a>
                  <a href="#">About</a>
                </div>
        </section>





    