<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">BookSalon</a>
      </div>
      <ul class="header-menus">
          <li>
            LoginUserName
          </li>
          <li>
            UserList
          </li>
          <li>
            PostList
          </li>
          <li>
            NewPost
          </li>
          <li>
            Logout
          </li>
          <li>
            SignUp
          </li>
          <li>
            Login
          </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
